html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figcaption,
figure,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: "Open Sans", " Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  display: inline-flex;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 58px;
}

.title::after {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  background-color: rgba(35, 82, 222, 0.1);
  width: 100%;
  height: 15px;
}
.title-zero {
  font-size: 0;
}

.about,
.skills,
.services,
.portfolio,
.reviews,
.stats {
  padding: 140px 0;
  display: block;
}

.header__top,
.header__title,
.header__text,
.header__arrow {
  position: relative;
}

.header__title,
.header__subtitle,
.title,
.menu__link,
.header__arrow,
.skills__name,
.services__title,
.button,
.stats__text,
.reviews__name,
.reviews__client p,
.contacts__tel,
.contacts__email,
.form__name,
.form-input,
.form__textarea,
.reviews__client {
  line-height: 1.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  transition: box-shadow 0.5s linear, opacity 0.5s ease;
}
.logo:focus {
  outline: rgba(255, 255, 255);
  box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7896e4;
  z-index: 2;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.home__content {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home__content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35, 82, 222, 0.5);
}

.menu,
.logo {
  z-index: 4;
  position: relative;
}

.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 36px;
}

.menu__link {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  transition: all 1s;
  border-bottom: 1px solid transparent;
}

.menu__link:focus {
  box-shadow: 0px 0px 0px 2px;
  border-radius: 3px;
  outline: rgba(255, 255, 255, 0.5);
}

.menu__link:hover {
  border-bottom: 1px solid #fff;
}

.menu__link:active {
  opacity: 0.7;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 38px);
  color: #ffffff;
}

.header__title {
  max-width: 800px;
  font-weight: 400;
  font-size: 48px;
  margin: auto 0;
  padding-top: 12px;
}

.header__title span {
  font-weight: 700;
  font-size: 90px;
  margin-bottom: auto;
}

.header__arrow {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  bottom: 33px;
  margin-left: 43%;
  padding-bottom: 38px;
  transition: border 0.3s ease, text-decoration 0.5s linear,
    opacity 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.header__arrow::after {
  position: absolute;
  content: "";
  background-image: url("../images/arrow-down.svg");
  width: 37px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 32px;
}

.header__arrow:focus {
  box-shadow: 0px 0px 0px 2px;
  border-radius: 3px;
  outline: rgba(255, 255, 255, 0.5);
}
.header__arrow--text:hover {
  border-bottom: 1px solid #fff;
}
.header__arrow:active {
  opacity: 0.7;
}

.about__inner p:not(:last-child) {
  margin-bottom: 24px;
}

.skills,
.reviews {
  background-color: #f6f6f8;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
}
.skills__photo {
  margin-right: 69px;
}

.skills__info {
  max-width: 663px;
  width: 100%;
  margin: auto 0;
}

.skills__item {
  display: flex;
  justify-content: space-between;
}
.skills__item:not(:last-child) {
  margin-bottom: 88px;
}

.skills__name {
  font-weight: 600;
  margin-right: 12px;
  text-transform: uppercase;
}

.skill__bar {
  max-width: 602px;
  height: 32px;
  width: 100%;
  background-color: #dbdbed;
}

.skill__bar span {
  display: block;
  height: 100%;
  background-color: #2352de;
}

.servise {
  margin-top: 22px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  padding-top: 90px;
}
.services__item:not(:last-child) {
  margin-right: 32px;
}
.services__title {
  position: relative;
}
.services__title::before {
  position: absolute;
  content: "";
  top: -88px;
  left: 0;
  width: 60px;
  height: 60px;
}

.services__text--dev::before {
  background-image: url("../images/icon-1.svg");
}

.services__text--cms::before {
  background-image: url("../images/icon-2.svg");
}

.services__text--support::before {
  background-image: url("../images/icon-3.svg");
}

.services__title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 26px;
}

.services__text {
  font-size: 16px;
}

.section {
  padding-top: 0;
  text-align: center;
  margin-right: 4px;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
}

.portfolio__choice:not(:last-child) {
  margin: 0 35px 60px 0;
}

.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-bottom: 60px;
}

.portfolio__item {
  transition: all 0.4s ease-in-out;
}

.portfolio__item:hover {
  transform: scale(-1, 1);
}

.button {
  font-weight: 600;
  color: #fff;
  padding: 12px 24px;
  background-color: #2352de;
  transition: all 0.5s;
}

.button:focus,
.portfolio__btn:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
  outline: transparent;
}

.button:hover {
  background-color: #ffffff;
  border: 1px solid #2352de;
  color: #2352de;
}

.portfolio__btn:hover {
  border-bottom: 1px solid #2352de;
  color: #2352de;
}

.portfolio__btn:active {
  color: #2352de;
  box-shadow: 0px 0px 0px 0px rgba(35, 82, 222, 0.5);
}

.mixitup-control-active {
  color: #2352de;
}

.button:active {
  background-color: #2352de;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.reviews {
  text-align: center;
}

.reviews__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
}

.reviews__client {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__user {
  width: 130px;
  height: 130px;
  background-color: #c4c4c4;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 39px;
  margin-bottom: 18px;
}

.reviews__name {
  display: block;
  font-weight: 600;
  font-size: 24px;
  color: #2352de;
  margin-bottom: 20px;
  margin-right: 10px;
}

.reviews__client blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin-right: 5px;
}

.reviews__popup-play {
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-width: 570px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.reviews__popup-btn {
  transition: all 0.4s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.reviews__popup-play:focus .overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.reviews__popup-play:hover .overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.reviews__popup-play:active .overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.45);
}

.reviews__popup-btn:hover {
  transform: scale(1.5);
}

.reviews__popup-btn:active {
  transform: scale(0.75);
}

.reviews__popup-play:focus {
  background-color: rgba(0, 0, 0, 1);
}

.reviews__popup-btn {
  z-index: 3;
}

.stats__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats__item {
  background-color: #f6f6f8;
  border: 1px solid #dbdbed;
  width: 280px;
  height: 287px;
  text-align: center;
  padding-top: 145px;
}

.stats__text {
  margin-bottom: 20px;
  position: relative;
}

.stats__num {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
  padding-top: 17px;
}

.stats__text::before {
  position: absolute;
  content: "";
  top: -140px;
  left: 0;
  right: 0;
  bottom: 0;
}

.stats__text--works::before,
.stats__text--clients::before,
.stats__text--cofe::before,
.stats__text--reviev::before {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
  margin: 0 auto;
}

.stats__text--works::before {
  background-image: url("../images/works.svg");
}

.stats__text--clients::before {
  background-image: url("../images/clients.svg");
}

.stats__text--cofe::before {
  background-image: url("../images/cap.svg");
}

.stats__text--reviev::before {
  background-image: url("../images/review.svg");
}

.contact {
  padding-bottom: 140px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  display: block;
}

.contacts__item p {
  max-width: 530px;
  font-size: 16px;
  margin-bottom: 32px;
}

.contacts__tel,
.contacts__email {
  color: #2352de;
  font-size: 16px;
}

.contacts__tel {
  margin-bottom: 15px;
  display: block;
}

.contacts__email {
  display: block;
  margin-bottom: 22px;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  position: relative;
  width: 44px;
  height: 44px;
  display: block;
}

.social__link::before {
  position: absolute;
  content: "";
  top: -133px;
  left: 0;
  right: 0;
  bottom: 0;
}

.social__link--instagramm,
.social__link--facebook,
.social__link--telegram {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: inherit;
  margin: 0 auto;
  transition: box-shadow 0.5s linear, opacity 0.5s ease;
}

.social__link--instagramm {
  background-image: url("../images/social/instagram.svg");
}

.social__link--facebook {
  background-image: url("../images/social/facebook.svg ");
}

.social__link--telegram {
  background-image: url("../images/social/telegram.svg");
}

.form-line {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  max-width: 540px;
  width: 100%;
}

.form__collumn:not(:last-child) {
  margin-right: 30px;
}

.form__name {
  width: 255px;
}

.form__name:not(:last-child) {
  margin-right: 30px;
}

.form__name,
.form__textarea {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

label {
  display: block;
}

.form-input {
  max-width: 255px;
  display: block;
  background-color: #f6f6f8;
  width: 100%;
}

.form-input,
.textarea {
  border: none;
  padding: 11px 0 12px 14px;
  font-size: 14px;
  color: #9c9cab;
  margin-top: 10px;
}

.textarea {
  max-width: 540px;
  width: 100%;
  height: 115px;
  resize: vertical;

  background-color: #f6f6f8;
  margin-bottom: 27px;
}
.textarea::placeholder {
  padding: 11px 0 12px 14px;
  font-size: 14px;
  color: #9c9cab;
}
.contacts__form-btn {
  padding: 11px 27px;
}

.contacts__email,
.contacts__tel,
.form-input,
.textarea {
  transition: all 1s;
}

.social__link--instagramm:focus,
.social__link--facebook:focus,
.social__link--telegram:focus,
.contacts__email:focus,
.contacts__tel:focus,
.textarea:focus,
.form-input:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
  outline: transparent;
}

.form-input:hover,
.textarea:hover {
  color: #000;
}

.contacts__email:active,
.contacts__tel:active,
.textarea:active,
.social__link--instagramm:hover,
.social__link--facebook:hover,
.social__link--telegram:hover {
  opacity: 0.7;
}

.social__link--instagramm:active,
.social__link--facebook:active,
.social__link--telegram:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.footer {
  background-color: #343740;
  flex: 0 0 auto;
}

.logo__footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .skills__photo {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .header__title {
    font-size: 40px;
  }

  .header__title span {
    font-size: 83px;
  }

  .services__title {
    font-size: 22px;
  }

  .form-line {
    max-width: 500px;
  }
}

@media (max-width: 915px) {
  .services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .services__item {
    max-width: 45%;
  }

  .services__item:not(:last-child) {
    margin-bottom: 45px;
  }
}

@media (max-width: 861px) {
  .menu__item:not(:last-child) {
    margin-right: 14px;
  }

  .form-line {
    max-width: 450px;
  }
}

@media (max-width: 812px) {
  .about,
  .skills,
  .services,
  .portfolio,
  .reviews,
  .stats {
    padding: 60px 0;
  }

  .title {
    margin-bottom: 30px;
  }

  .skills__item {
    text-align: center;
    display: block;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 45px;
  }

  .portfolio__btn {
    font-size: 20px;
  }

  .stats__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }

  .stats__item {
    margin: 0 auto;
  }

  .stats__text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__top {
    padding-top: 15px;
  }

  .logo__img {
    max-width: 110px;
    z-index: 2;
    position: relative;
  }

  .menu {
    z-index: 1;
  }

  .menu__btn {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .menu__btn span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .menu__btn:before,
  .menu__btn:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__btn:before {
    top: 0;
  }

  .menu__btn:after {
    bottom: 0;
  }

  .menu__btn.active span {
    transform: scale(0);
  }

  .menu__btn.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__btn.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7792e0;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 10px;
  }

  .menu.active {
    top: 0;
  }

  .menu__item {
    margin: 0 0 16px -20px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0px;
  }
  .menu__link:not(:last-child) {
    margin-bottom: -9px;
  }

  .menu__list {
    display: block;
    position: absolute;
    padding-top: 7px;
    width: 100%;
    text-align: center;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 35px;
  }

  .skills__inner {
    display: block;
  }

  .skills__photo {
    padding: 8px 22px 22px 22px;
    margin: 0 auto;
  }

  .skills__info {
    margin: auto;
  }

  .skills__name {
    margin-right: 0;
  }

  .skill__bar {
    max-width: 100%;
  }

  .section__mob {
    margin-right: 0;
    padding-top: 9px;
    margin-bottom: 28px;
    text-align: center;
  }

  .portfolio {
    padding-top: 17px;
  }

  .portfolio__filter {
    display: block;
    margin-bottom: 27px;
  }

  .portfolio__choice:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .portfolio__btn {
    font-size: 18px;
  }

  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 29px;
  }

  .section {
    margin-right: 0;
  }

  .stats__list {
    grid-gap: 11px;
  }

  .form-line {
    max-width: 350px;
  }

  .contacts__item {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 35px;
  }

  .title {
    font-size: 45px;
  }

  .header__title span {
    font-size: 67px;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .services__item {
    max-width: 100%;
  }

  .reviews__inner {
    display: block;
  }
  .reviews__client {
    margin: 0 auto;
  }

  .reviews__popup-play {
    height: 200px;
  }

  reviews__popup-btn {
    height: 27%;
  }

  .stats__list {
    grid-gap: 14px;
  }

  .stats__item {
    width: 200px;
    height: 100%;
    padding-top: 122px;
    padding-bottom: 28px;
  }

  .form-line {
    display: block;
    margin-bottom: 16px;
  }

  .form__name {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .textarea {
    margin-bottom: 14px;
  }

  .button {
    padding: 12px 24px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .contacts__inner {
    display: block;
  }

  .contacts__item {
    margin-bottom: 31px;
    margin-right: 0;
  }

  .form-line,
  .form-input {
    max-width: 100%;
  }

  .form__name {
    width: 100%;
  }

  .contact {
    padding-bottom: 0;
  }

  .contacts__item p,
  .contacts__tel,
  .contacts__email,
  .form__name,
  .form__textarea {
    text-align: left;
  }

  .contacts__email {
    margin-bottom: 31px;
  }

  .contacts__form-btn {
    display: block;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 36px;
  }
  .header__title {
    font-size: 28px;
  }

  .header__title span {
    font-size: 40px;
  }

  .header__arrow {
    margin-left: 34%;
  }

  .stats {
    padding: 40px 0;
  }

  .stats__item {
    width: 165px;
    padding-top: 68px;
    padding-bottom: 0px;
  }

  .stats__num {
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 24px;
  }

  .stats__num--last {
    padding-top: 12px;
  }

  .stats__text--works::before,
  .stats__text--clients::before,
  .stats__text--cofe::before,
  .stats__text--reviev::before {
    scale: 0.45;
  }

  .stats__text {
    max-width: 134px;
    display: inline-block;
    margin-bottom: 11px;
  }

  .stats__text::before {
    top: -88px;
  }
}

@media (max-width: 376px) {
  main {
    margin-bottom: 50px;
  }

  .about,
  .skills,
  .services {
    padding: 47px 0;
    text-align: center;
  }

  .title {
    font-size: 28px;
  }

  .home__content {
    height: 100vh;
  }
  .header__text {
    height: calc(106vh - 133px);
  }

  .header__text {
    padding-top: 117px;
  }

  .header__arrow {
    margin-left: 33%;
    font-size: 14px;
    bottom: -21px;
  }

  .header__arrow::after {
    top: 27px;
  }

  .about__inner {
    text-align: left;
    font-size: 16px;
  }

  .about__inner p:not(:last-child) {
    margin-bottom: 19px;
  }

  .skills__info {
    padding: 0 22px 22px 22px;
  }

  .services__item {
    text-align: left;
    padding-top: 30px;
  }

  .services__item:not(:last-child) {
    margin-bottom: 51px;
  }

  .services__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .services__text--dev::before,
  .services__text--cms::before,
  .services__text--support::before {
    scale: 0.7;
  }

  .services__title::before {
    top: -58px;
    left: -9px;
  }

  .reviews {
    padding-top: 41px;
  }

  .reviews__title {
    margin-bottom: 0;
  }

  .reviews__inner {
    position: relative;
    padding-top: 0;
  }

  .reviews__popup-play {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    top: 121px;
    right: 86px;
  }

  .reviews__popup-btn {
    width: 17px;
    height: 20px;
  }

  .reviews__user {
    margin: 30px 0 29px;
  }

  .reviews__name {
    display: block;
    font-size: 20px;
    margin-bottom: 21px;
    margin-right: -1px;
  }

  .reviews__client blockquote {
    margin: 0 35px;
    font-size: 16px;
  }

  .logo__footer {
    padding: 32px 0;
  }
}

@media (max-width: 321px) {
  .stats__list {
    grid-gap: 2px;
  }
  .stats__item {
    width: 141px;
    padding-top: 57px;
  }
  .title {
    font-size: 22px;
  }
  .services__title {
    font-size: 17px;
    margin-bottom: 8px;
  }
}
@media (max-height: 376px) {
  .header__title {
    font-size: 24px;
    max-width: 288px;
  }
  .header__title span {
    font-size: 35px;
  }
  .header__arrow {
    font-size: 12px;
  }
  .header__arrow::after {
    top: 21px;
    scale: 0.5;
  }

  .title {
    font-size: 32px;
  }
}
